body {
  background-color: gray;
  font-family: "Courier New", Courier, monospace;
}

.note-container {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  display: inline-grid;
  width: 200px;
  height: 200px;
  justify-items: center;
}
.note-container:hover {
  scale: 200%;
  transition: 2s;
}

#textArea {
  padding: 20px;
  margin: 25px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: beige;
}
#textArea:hover,
#textArea:focus {
  box-shadow: 5px 5px 30px black;
  transition: 1s;
}
#addButton {
  background-color: beige;
  font-size: 14px;
  padding: 25px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
}
#addButton:hover {
  box-shadow: 5px 5px 10px black;
  transition: 1s;
}
#addButton:active {
  background-color: black;
  color: white;
}
.inputField {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
#sticky-notes {
  margin: 200px 100px;
}
.remove-button {
  cursor: pointer;
  padding: 2px 10px;
  justify-self: end;
  align-self: flex-end;
  height: min-content;
  border: none;
  border-radius: 5px;
  background: none;
}
.remove-button:hover {
  background-color: bisque;
  box-shadow: 5px 5px 30px black;
  transition: 0.8s;
}
